body{
  background-color: #FFF0F5;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  border: 3px solid black;
  border-radius: 10px;

}

.inputfield{
  margin:5px;
  font-size: 30px;
  font-family: 'Amatic SC', cursive;
  
}


button{
  background-color: #191970;
  color: whitesmoke;
  border-radius: 4px;
  border: 2px solid #191970;
  transition-duration: 0.3s;
  margin: 5px;
}

button:hover{
  background-color:lightblue;
  color: black;
  border: 2px solid lightblue;
  -webkit-transform: scale(1.6);
  -ms-transform: scale(1.6);
  transform: scale(1.6);
}
h1{
  color: red;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: slidein;
}

@keyframes slidein {
  from {
      margin-left: 100%;
      width: 300%;
  }

  to {
      margin-left: 80%;
      width: 100%;
  }
}




.lives{
  color: red;
  font-size: 30px;
  font-weight: bold;
  -webkit-animation-duration: 3s;
  -webkit-animation-name: slideinleft;

}
@keyframes slideinleft {
  from {
      margin-left: 300%;
      width:100%;
  }

  to {
      margin-left: 80%;
      width: 100%;
  }
}




.win,
.lose {
  display: none;

}

.win h2 {
  color: red;
}

.lose h2 {
  color: blue;

}


